
.app {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  padding: 10px;
  background-color: rgb(103, 91, 91);
  border: none;
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: black;
  border: 1px solid white;
  width: 200px;
}

.dropdown__item {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.dropdown__item:hover {
  background-color: #e9e9e9;
}
